USE [master]
GO
/****** Object:  Database [Diagnostic_Center_Bill_Management_System]    Script Date: 2/26/2017 8:02:20 AM ******/
CREATE DATABASE [Diagnostic_Center_Bill_Management_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Diagnostic_Center_Bill_Management_System', FILENAME = N'D:\mydotnetprograms\DiagnosticCenterBillManagementSystemWebApp\Diagnostic_Center_Bill_Management_System.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Diagnostic_Center_Bill_Management_System_log', FILENAME = N'd:\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Diagnostic_Center_Bill_Management_System_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Diagnostic_Center_Bill_Management_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Diagnostic_Center_Bill_Management_System]
GO
/****** Object:  Table [dbo].[test_setup]    Script Date: 2/26/2017 8:02:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_setup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[testName] [varchar](max) NOT NULL,
	[fee] [float] NOT NULL,
	[typeName] [int] NOT NULL,
 CONSTRAINT [PK_test_setup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[test_type]    Script Date: 2/26/2017 8:02:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_test_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[testAndPatientData]    Script Date: 2/26/2017 8:02:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testAndPatientData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[testId] [int] NOT NULL,
	[patientId] [int] NOT NULL,
	[invoiceDate] [date] NOT NULL,
 CONSTRAINT [PK_testAndPatientData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[testRequestEntry]    Script Date: 2/26/2017 8:02:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[testRequestEntry](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameOfPatient] [varchar](50) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[mobileNo] [varchar](14) NOT NULL,
	[totalFee] [float] NOT NULL,
	[billNo] [varchar](200) NOT NULL,
	[paymentStatus] [varchar](50) NOT NULL,
	[invoiceDate] [date] NOT NULL,
 CONSTRAINT [PK_testRequestEntry] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[testAndType]    Script Date: 2/26/2017 8:02:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[testAndType]
AS
SELECT testName, fee, name FROM test_setup
INNER JOIN test_type 
ON test_setup.typeName=test_type.id;
GO
/****** Object:  View [dbo].[totalTestAndTypeWithCount]    Script Date: 2/26/2017 8:02:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[totalTestAndTypeWithCount]
AS
SELECT        dbo.test_setup.testName, dbo.test_setup.fee, dbo.testAndPatientData.testId, dbo.testAndPatientData.invoiceDate, dbo.test_type.name AS typeName
FROM            dbo.test_setup FULL OUTER JOIN
                         dbo.testAndPatientData ON dbo.testAndPatientData.testId = dbo.test_setup.id FULL JOIN
                         dbo.test_type ON dbo.test_setup.typeName = dbo.test_type.id
GO
SET IDENTITY_INSERT [dbo].[test_setup] ON 

INSERT [dbo].[test_setup] ([id], [testName], [fee], [typeName]) VALUES (1, N'Complete Blood count (Total Count-Differential Count-ESR, Hb %)', 400, 1)
INSERT [dbo].[test_setup] ([id], [testName], [fee], [typeName]) VALUES (2, N'RBS', 150, 1)
INSERT [dbo].[test_setup] ([id], [testName], [fee], [typeName]) VALUES (4, N'Lipid Profile', 120, 1)
SET IDENTITY_INSERT [dbo].[test_setup] OFF
SET IDENTITY_INSERT [dbo].[test_type] ON 

INSERT [dbo].[test_type] ([id], [name]) VALUES (1, N'Blood')
INSERT [dbo].[test_type] ([id], [name]) VALUES (3, N'Echo')
INSERT [dbo].[test_type] ([id], [name]) VALUES (13, N'USG')
SET IDENTITY_INSERT [dbo].[test_type] OFF
SET IDENTITY_INSERT [dbo].[testAndPatientData] ON 

INSERT [dbo].[testAndPatientData] ([id], [testId], [patientId], [invoiceDate]) VALUES (24, 1, 1, CAST(0x753C0B00 AS Date))
INSERT [dbo].[testAndPatientData] ([id], [testId], [patientId], [invoiceDate]) VALUES (25, 4, 1, CAST(0x753C0B00 AS Date))
INSERT [dbo].[testAndPatientData] ([id], [testId], [patientId], [invoiceDate]) VALUES (26, 1, 2, CAST(0x763C0B00 AS Date))
SET IDENTITY_INSERT [dbo].[testAndPatientData] OFF
SET IDENTITY_INSERT [dbo].[testRequestEntry] ON 

INSERT [dbo].[testRequestEntry] ([id], [nameOfPatient], [dateOfBirth], [mobileNo], [totalFee], [billNo], [paymentStatus], [invoiceDate]) VALUES (1, N'Onik', CAST(0x743C0B00 AS Date), N'01764144894', 0, N'E375C0E1', N'Paid', CAST(0x753C0B00 AS Date))
INSERT [dbo].[testRequestEntry] ([id], [nameOfPatient], [dateOfBirth], [mobileNo], [totalFee], [billNo], [paymentStatus], [invoiceDate]) VALUES (2, N'Rahaman', CAST(0x743C0B00 AS Date), N'01531586003', 0, N'A8210A2D', N'Paid', CAST(0x763C0B00 AS Date))
INSERT [dbo].[testRequestEntry] ([id], [nameOfPatient], [dateOfBirth], [mobileNo], [totalFee], [billNo], [paymentStatus], [invoiceDate]) VALUES (3, N'mizan', CAST(0x743C0B00 AS Date), N'1013', 670, N'8A4FF8B3', N'Unpaid', CAST(0x763C0B00 AS Date))
SET IDENTITY_INSERT [dbo].[testRequestEntry] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_testRequestEntry]    Script Date: 2/26/2017 8:02:20 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_testRequestEntry] ON [dbo].[testRequestEntry]
(
	[mobileNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[test_setup]  WITH CHECK ADD  CONSTRAINT [FK_test_setup_test_type] FOREIGN KEY([typeName])
REFERENCES [dbo].[test_type] ([id])
GO
ALTER TABLE [dbo].[test_setup] CHECK CONSTRAINT [FK_test_setup_test_type]
GO
ALTER TABLE [dbo].[testAndPatientData]  WITH CHECK ADD  CONSTRAINT [FK_testAndPatientData_test_setup] FOREIGN KEY([testId])
REFERENCES [dbo].[test_setup] ([id])
GO
ALTER TABLE [dbo].[testAndPatientData] CHECK CONSTRAINT [FK_testAndPatientData_test_setup]
GO
ALTER TABLE [dbo].[testAndPatientData]  WITH CHECK ADD  CONSTRAINT [FK_testAndPatientData_testRequestEntry] FOREIGN KEY([patientId])
REFERENCES [dbo].[testRequestEntry] ([id])
GO
ALTER TABLE [dbo].[testAndPatientData] CHECK CONSTRAINT [FK_testAndPatientData_testRequestEntry]
GO
USE [master]
GO
